/*
"proxima-nova"
Regular: 400
Semibold: 600
Bold: 700
ExtraBold: 800	*/
html, body{ 
	margin:0 !important;
	padding:0 !important;
	height:100%;
	font-family:"proxima-nova";
}

.full-container{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
	min-height:100%;
	margin:0 auto;
}
a{
	text-decoration:none;
	color:black;
}

/*BEGIN HEADER*/
.header-container{
	background-color:white;
	z-index:99;
	position:fixed;
	left:0;
	top:0;
	height:100px;
	width:100%;
	box-shadow:0px 5px 8px lightgray;
	-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
.header-container.smaller{
	height:60px;
}
.logo img{
	padding-top:25px;
	display:block;
	margin:0 auto;
	width:252px;
	height:50px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.help{
	position:absolute;
	font-size:17px;
	top:40px;
	left:40px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.help.smaller{
	position:absolute;
	font-size:12px;
	left:40px;
	top:23px;
}
.question-mark{
	padding:5px 12px 6px 12px;
	display:inline;
	border:3px solid black;
	border-radius:20px;
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
}
.question-mark.smaller{
	padding:5px 10px 5px 10px;
	display:inline;
	border:3px solid black;
	border-radius:20px;
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
}
.mark{
	font-weight:700;
}
.help-text{
	display:inline;
	font-weight:700;
}
.menu-right{
	font-size:30px;
	position:absolute;
	right:40px;
	top:32px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu-right.smaller{
	font-size:22px;
	position:absolute;
	right:40px;
	top:18px;
}
.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.3em 0 0 black,
    0 0.6em 0 0 black;
}
/*END HEADER*/

/*BEGIN LANDING AREA*/
.landing{
	height:786px;
}
.bg-image {
  background: url(../images/home_bg.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:789px;
}
.whitespace-container{
	position:absolute;
	top:789px;
	width:100%;
	overflow:hidden;
	height:220px;
}
.top-whitespace {
  position: relative;
  top: 0;
  height: 70px;
  background-color: white;
  display: block;
}
.landing-whitespace {
  margin-top: -40px;
  position: relative;
  height: 100px;
  background-color: white;
  width: 105%;
  -ms-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
  -webkit-backface-visibility: hidden;
}
.landing-text-container{
	position:relative;
	top:220px;
	width:38%;
	height:600px;
	margin:0 0 0 12%;
	min-width:490px;
	max-width:590px;
}
.landing h1{
	color:black;
	font-weight:800;
	text-align: center;
	font-size:3.3em;
}
.landing-bar{
	margin-top:-25px;
	width:100px;
	height:2px;
	/*padding:5px;*/
	color:black;
	background-color:black;
	border-color:black;
}
.landing h3{
	color:black;
	text-align: center;
	font-size:2em;
	font-weight:400;
	padding:0 3% 0 3%;
}
.icon-container ul{
	width:100%;
	height:200px;
	padding:0px;
}
.icon-container li{
	width:25%;
	float:left;
	display:inline-block;
	text-align:center;
	letter-spacing:.05em;
}
.icon-container h4{
	margin-top:7px;
}
.orange-dogear{
	display:block;
	margin-top: -3px !important;
	margin:auto;
}
/*END LANDING AREA*/


/*BEGIN OUR PROMISE AREA*/
.our-promise-container{
	width:100%;
	height:676px;
	margin-top:50px;
	background-color:#ff9f00;
	padding-top:95px;
}
.our-promise-letter{
	width:60%;
	max-width:800px;
	min-height:640px;
	margin:0 auto;
	background-color:white;
}

.our-promise-letter h1{
	padding-top:8%;
	font-weight:800;
	font-size:3.3em;
	text-align:center;
}

.our-promise-letter p{
	line-height:180%;
	font-size:1em;
	padding:4% 8% 8% 8%;
}
.signature{
  height: 23%;
  width: 23%;
  padding-top: 7px;
}
.red-dogear{
	display:block;
	margin:auto;
	margin-top:-16px;
}
/*END OUR PROMISE AREA*/




/*BEGIN PLATFORMS*/
.platforms{
	width:100%;
	height:800px;
	background-color:#e53935;
	overflow:hidden;
}
.platforms h1{
	padding-top:7%;
	text-align:center;
	color:white;
	font-size:3.3em;
}
.platforms .landing-bar{
	margin-top:-25px;
	width:100px;
	height:2px;
	color:white;
	background-color:white;
	border-color:white;
}
.platforms h4{
	text-align: center;
	color:white;
	margin:3% 20% 3% 20%;
	font-weight:400;
}
.platforms-container{
  width: 60%;
  max-width: 800px;
  min-height: 640px;
  margin: 0 auto;
}
.platforms-container ul{
	max-width:800px;
	margin:0 0 20px -5%;
}
.platforms-container li{
	list-style:none;
	display:inline;
	float:left;
	width:23%;
	height:23%;
	padding:1%;
}
.platforms-container img{
	width:100%;
	height:100%;
}

.platforms-overview{
	display:block;
	margin-top:15px;
	width:300px;
	margin:0 auto;
	height:55px;
	background-color:#e53935;
	border:solid 2px white;
	border-radius:30px;
}
.platforms-overview a{
	margin-top:20px;
	color:white;
	font-size:1.5em;
}
/*END PLATFORMS*/




/*BEGIN FEATURED WORK*/
.white-dogear{
	display:block;
	margin:auto;
}
.featured-work{
	width:100%;
	height:789px;
	background-color:#fff;
	overflow:hidden;
}
.featured-whitespace{
	height:100px;
	width:100%;
}
/*END FEATURED WORK