/*
"proxima-nova"
Regular: 400
Semibold: 600
Bold: 700
ExtraBold: 800*/

.header-container{
	position:fixed;
	left:0;
	top:0;
	height:100px;
	width:100%;
}

.header-logo{
	padding-top:40px;
	display:block;
	margin:0 auto;
}